body {font-family: 'Montserrat', sans-serif; font-size: 14px;
    max-width: 500px; margin: auto; align-content: center; position: relative;
    align-content: center; align-items: center}


body .contenedor { max-width: 100%; padding: 10px}

header {position: fixed; max-width: 500px;}
header .contenedor {background-color: coral; color: white; display: flex; padding: 20px;
    justify-content: space-between; max-width: 100%;}
header div {max-width: 40%;}
header div img {max-width: 50%;}
header div span {font-size: 25px; }



.encabezado {max-width: 100%; background-color: #96D479; display: flex; margin-top: 65px;}
.encabezado .pestana {text-align: center; width: 50%; padding: 5px}
.pestana.activo {background-color: rgb(96, 151, 71)}
.encabezado .pestana a {color: white; max-width: 100%; font-size: 15px}


.catalogo {max-width: 100%;}
.item-catalogo {display: flex; padding: 12px; border-bottom: 1px solid #dddddd; position: relative; z-index: -1;}
.item-catalogo:last-of-type {margin-bottom: 50px;}


.item-catalogo span {font-size: 30px; margin-right: 15px; color: #666666}

.item-catalogo .detalles-pedido {color: #666666; max-width: 70%; margin-left: 14px; }
.item-catalogo .detalles-pedido h3 {font-weight: 300; font-size: 15px; margin-top: 10px; margin-bottom: 6px}

.item-catalogo .footer-item {display: flex; position: absolute; bottom: 10px; text-align: right; 
    position:  absolute; right: 10px;}
.footer-item span {color: coral}
.footer-item h4 {display: inline-block; font-size: 14px; font-weight: 500}

.footer-item button {background-color: #96D479; border: none; color: white; width: 100px; padding: 3px;
    font-weight: 700; height: 30px;}


footer {position: fixed; bottom: 0; width: 100%; margin: auto; max-width: 500px; }
footer div {background-color: #96D479; padding: 10px; text-align: center; max-width: 100%}
footer a {color: white; font-weight: 500}
